.header {
	background-color: var(--background);
	padding: 2px 10%;
	display: flex;
	min-height: 55px;
	align-items: center;
	justify-content: space-between;
}

.headerBrand {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.headerSearchInput {
	width: 100%;
	padding: 0px 18px;
}

.headerIconWrapper {
	display: flex;
	align-items: center;
}

.headerIconList {
	display: flex;
	align-items: center;
}

.headerAvatarIcon {
	width: 35px !important;
	height: 35px !important;
}

@media only screen and (max-width: 600px) {
	.header {
		justify-content: space-between;
		padding: 0px 12px 0px 24px;
	}
	.headerSearchInput {
		display: none;
	}
	.headerIconList {
		display: none;
	}
}
