/* Override default */
.Draftail-Toolbar {
	background: transparent !important;
	color: var(--font-white-800) !important;
	border-radius: 8px !important;
	border: none !important;
}

@media only screen and (max-width: 600px) {
	.Draftail-Toolbar {
		display: none !important;
	}
}

.Draftail-Editor--readonly {
	pointer-events: auto !important;
}

.Draftail-Editor--readonly .DraftEditor-editorContainer::before {
	display: none !important;
}

/* Override default */
.Draftail-Editor,
.Draftail-Editor--readonly,
.DraftEditor-editorContainer {
	color: var(--font-white-800);
	background: transparent !important;
	border: none !important;
	width: 100% !important;
	height: 100% !important;
	opacity: 1 !important;
}

/* Override default */
.public-DraftEditor-content {
	font-family: var(--font-family);
	color: var(--font-white-800);
}

/* Override default */
.public-DraftEditorPlaceholder-inner {
	font-family: var(--font-family);
}

.Draftail-block--blockquote {
	background: var(--background-dimmed-400);
	padding: 8px;
	border-left: 2px solid var(--font-white-300);
}

.public-DraftStyleDefault-pre {
	background: var(--background) !important;
	padding: 8px 16px;
	border-radius: 8px;
}
